.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #25995C;
  color: var(--text-color);
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.icon {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: relative; /* Add relative positioning */
}

.icon svg {
  font-size: 1.5rem;
}

.footer-cart-count {
  position: absolute;
  top: calc(100%-50%);
  right: 10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75rem;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.menu-content {
  min-width: 200px;
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  padding: 15px;
  height: fit-content;
  position: fixed;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: none;
}

.menu-trigger:hover + .menu-content,
.menu-content:hover {
  opacity: 1;
  transform: translateY(0);
  display: block;
}

.menu-item {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #f9f9f9;
}

.menu-item svg {
  font-size: 1.25rem;
  margin-right: 0.5rem;
  color: #25995C;
}

.menu-item span {
  color: #333;
}

/* Desktop view */
@media (min-width: 769px) {
  .footer {
    display: none; /* Hide footer in desktop view */
  }
}

/* Mobile view */
@media (max-width: 768px) {
  .footer {
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  .menu-content {
    top: calc(100% - 32%);
    right: 10px;
  }
}
