.orders-container {
   width: 100%;
}

.parent-orders {
    margin: 2rem;
}

.order-item {
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.2s;
}

.orders-heading {
    text-align: left;
    margin-bottom: 1.5rem;
    color: #25995C;
    font-size: 1.75rem;
    font-weight: bold;
    animation: slideIn 0.5s ease-in-out;
  }

.order-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-item h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.order-item p {
    margin-bottom: 10px;
}

.order-item .cart-items {
    margin-top: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.cart-item .details {
    flex: 1;
}

.cart-item .details p {
    margin: 0;
}

.steps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.steps-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.steps-item {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    margin: 0 5px;
    transition: background-color 0.2s;
}

.steps-item.active {
    background-color: #25995C;
    color: var(--text-color);
}

.steps-content {
    margin-top: 20px;
    text-align: center;
}

.steps-completed-content {
    margin-top: 20px;
    text-align: center;
}

/* Media queries for mobile view */
@media (max-width: 768px) {
    .orders-container {
        padding: 1rem;
        font-size: 0.8rem;
        overflow-x: auto;
    }

    .orders-heading {
        font-size: 1.2rem;
    }

    .parent-orders {
        margin: 0rem;
    }

    .order-item h3 {
        font-size: 1rem;
    }

    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-item img {
        margin-bottom: 10px;
        margin-right: 0;
        width: 80px;
        height: 80px;
    }

    .cart-item .details {
        text-align: center;
    }

    .steps-list {
        flex-direction: column;
        align-items: center;
    }

    .steps-item {
        margin: 5px 0;
        width: 100%;
    }

    .steps-item:nth-child(3),
    .steps-item:nth-child(4) {
        width: 100%;
    }
}
